@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
@import "../../node_modules/swiper/css/swiper";

@mixin respond-to($media) {
    @if $media == mobile {
      @media only screen and (max-width: 375px) { @content; }
    }
    @else if $media == wide-mobile {
      @media only screen and (min-width: 376px) and (max-width: 767px) { @content; }
    }
    @else if $media == tablets {
      @media only screen and (min-width: 768px) and (max-width: 1023px) { @content; }
    }
    @else if $media == laptop {
        @media only screen and (min-width: 1024px) and (max-width: 1439px) { @content; }
      }
    @else if $media == wide-laptop {
        @media only screen and (min-width: 1440px)  { @content; }
      }
}

 @mixin justify-content($property) {
    -webkit-justify-content: $property;
    -moz-justify-content: $property;
    -ms-justify-content: $property;
    justify-content: $property;
  }
  @mixin align-items($property) {
    -webkit-align-items: $property;
    -moz-align-items: $property;
    -ms-align-items: $property;
    align-items: $property;
  }
  @mixin hyphens($property) {
    -moz-hyphens: $property;
    -webkit-hyphens: $property;
    -ms-hyphens: $property;
    hyphens: $property;
  }
  @mixin box-shadow ($property) {
    -moz-box-shadow: $property;
    -webkit-box-shadow: $property;
    -ms-box-shadow: $property;
    box-shadow: $property;
  }
  @mixin flex-direction($property) {
    -webkit-flex-direction: $property;
    -moz-flex-direction: $property;
    -ms-flex-direction: $property;
    flex-direction: $property;
  }
  @mixin animation-duration($property) {
    -webkit-animation-duration: $property;
    -moz-animation-duration: $property;
    -ms-animation-duration: $property;
    animation-duration: $property;
  }
  @mixin animation-timing-function($property) {
    -webkit-animation-timing-function: $property;
    -moz-animation-timing-function: $property;
    -ms-animation-timing-function: $property;
    animation-timing-function: $property;
  }
  @mixin animation-delay($property) {
    -webkit-animation-delay: $property;
    -moz-animation-delay: $property;
    -ms-animation-delay: $property;
    animation-delay: $property;
  }
  @mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }
  @mixin animation-name($property) {
    -webkit-animation-name: $property;
    -moz-animation-name: $property;
    -ms-animation-name: $property;
    animation-name: $property;
  }
  @mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    transition: $property;
  }

@font-face{
    font-family: 'Fira sans';
    src: url('../fonts/FiraSans-ExtraBold.otf')
}
@font-face{
    font-family: 'Light Fira sans';
    src: url('../fonts/FiraSans-Light.otf')
}

$font-color: #000000;
$theme-color: #ff213b;
$light-color: #ffffff;
$dark-color: #172c42;
$main-font: 'Fira sans';
$light-font: 'Light Fira sans';
$fontSize: 24px;

* {
    box-sizing: border-box;
}

.header{
    padding: 25px 50px;
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: -moz-flex;
    display: flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(space-between);

    @include respond-to(tablets) {
        @include flex-direction(row);
        padding: 25px 100px; 
    } 
    @include respond-to(laptop) {
        @include flex-direction(row);
        padding: 25px 50px;
    }
    @include respond-to(wide-laptop) {
        @include flex-direction(row);
        padding: 25px 200px;
    }
    &_logo {
        @include respond-to(mobile) {
            @include flex-direction(column) ;
            width: 50%;
            margin: 30px; 
               
         }
        @include respond-to(wide-mobile) {
            width: 50%;
            margin: 40px;;     
        }
        @include respond-to(tablets) {
            padding: 0 15px;
        } 
        opacity:0; 
        @include transition(1s);
        -moz-animation: show 1s 1;
        -webkit-animation: show 1s 1;
        animation: show 1s 1; 
        -moz-animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; 
        @include animation-delay(1s);
        @-moz-keyframes show{
            0% {
            opacity:0;
                }
            100% {
            opacity:1;
                }
            }
        @-webkit-keyframes show{
            0% {
            opacity:0;
                }
            100% {
            opacity:1;
                }
            } 
        @keyframes show{
            0% {
            opacity:0;
                }
            100% {
            opacity:1;
                }
            }   
    }
    &_contact{
        display: -webkit-flex; 
        display: -ms-flexbox; 
        display: -moz-flex;
        display: flex;
        @include flex-direction(column);
        @include align-items(center);

        @include respond-to(tablets) {
            @include flex-direction(row);   
         }
        @include respond-to(laptop) {   
            @include flex-direction(row)  
        }
        @include respond-to(wide-laptop) {   
            @include flex-direction(row)  
        }
        @include animation-name(slideLeft);
        @include animation-duration(3s);
        @include animation-timing-function(ease-in-out);
        @keyframes slideLeft {
            0% {
                transform: translateX(150%);
            }
            50%{
                transform: translateX(-8%);
            }
            65%{
                transform: translateX(4%);
            }
            80%{
                transform: translateX(-4%);
            }
            95%{
                transform: translateX(2%);
            }           
            100% {
                transform: translateX(0%);
            }
        }
         
        @-webkit-keyframes slideLeft {
            0% {
                -webkit-transform: translateX(150%);
            }
            50%{
                -webkit-transform: translateX(-8%);
            }
            65%{
                -webkit-transform: translateX(4%);
            }
            80%{
                -webkit-transform: translateX(-4%);
            }
            95%{
                -webkit-transform: translateX(2%);
            }           
            100% {
                -webkit-transform: translateX(0%);
            }
        }
        @-moz-keyframes slideLeft {
            0% {
                -moz-transform: translateX(150%);
            }
            50%{
                -moz-transform: translateX(-8%);
            }
            65%{
                -moz-transform: translateX(4%);
            }
            80%{
                -moz-transform: translateX(-4%);
            }
            95%{
                -moz-transform: translateX(2%);
            }           
            100% {
                -moz-transform: translateX(0%);
            }
        }
    }
    &_tel{
        font-family: $main-font;
        color: $font-color;
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;
        margin-right: 15px;
        @include respond-to(mobile) {
            font-size: 15px;
        }
        @include respond-to(wide-mobile) {
            font-size: 15px;
        }
        @include respond-to(tablets) {
            font-size: 15px;
        }
    }
    &_order-btn{
        width: 240px;
        height: 45px; 
        font-size: 15px;
        margin: 20px;
        background-color: transparent;
        border-radius: 30px;
        border: 1px solid $theme-color;
        font-family: $main-font; 
        text-transform: capitalize;
        cursor: pointer;
        outline: none;
       
       
        @include respond-to(wide-mobile) {
            width: 240px;
            height: 45px; 
        }
        @include respond-to(tablets) {
            width: 170px;
            height: 40px;
            font-size: 20px; 
            margin: 0;
        }
        @include respond-to(laptop) {
            width: 200px;
            height: 50px; 
            font-size: 20px;
            margin: 0;
        }
        @include respond-to(wide-laptop) {
            width: 270px;
            height: 60px; 
            font-size: 20px;
            margin: 0;
        }
    }
}
.main{
    width: 100%;
    &_order-section{
        display: -webkit-flex; 
        display: -ms-flexbox; 
        display: -moz-flex;
        display: flex;  
        @include flex-direction(column); 
        
        @include respond-to(laptop) {
            @include flex-direction(row);  
        }
        @include respond-to(wide-laptop) {
            @include flex-direction(row);  
        } 
    }
    .colortext{
        color: $theme-color;
    }
    &_menu{
        display: -webkit-flex; 
        display: -ms-flexbox; 
        display: -moz-flex;
        display: flex; 
        @include flex-direction(column); 
        margin-top: 65px; 
        height: 175px;
        margin: 0;
        padding-left: 0; 
        @include justify-content(center);
        
        @include respond-to(wide-mobile) {
            @include flex-direction(column); 
            margin-top: 25px; 
                  
        } 
        @include respond-to(tablets) {
            height: 70px; 
            margin-top: 0;
            @include flex-direction(row);     
        } 
        @include respond-to(laptop) {
            height: 80px; 
            @include flex-direction(row);   
        }
        @include respond-to(wide-laptop) {
            height: 115px; 
            @include flex-direction(row);   
        }
        @include align-items(center);
        
        &-item{
            list-style-type: none;
            font-family: $main-font;
            text-transform: capitalize;
            width: 145px;
            height: 100%;
            padding-top: 20px;
            font-size: 13px;
            text-align: center;
            cursor: pointer;
            padding-left: 0;
                    
            @include respond-to(wide-mobile) {
                padding: 10px;
                font-size: 13px; 
            }
            @include respond-to(tablets) {
                width: 100px;
                font-size: 15px;
                padding-top: 20px; 
            }
            @include respond-to(laptop) {
                width: 90px;
                font-size: 12px;
                padding-top: 30px; 
            }
            @include respond-to(wide-laptop) {
                width: 145px;
                font-size: 20px;
                padding-top: 50px; 
            }
            &-link {
                color:$font-color;
                text-decoration: none;
                &:hover{
                    color: $light-color;
                }
            }
        } 
        &-item:hover{
            color: $light-color;
            background-color: $theme-color;
        }
        &-item:nth-child(3){
            margin-right: 20px;
        }
    }
    &_section-block{
        background-image: url('../img/bg.png');
        padding-left: 50px;
        padding-right: 50px;
        @include flex-direction(column);
        
        @include respond-to(tablets) {
            font-size: 40px; 
            padding-left: 90px;
            padding-right: 90px;  
            @include flex-direction(row);
        }
        @include respond-to(laptop) {
            width: 60%; 
            padding-left: 100px;
            padding-right: 100px;
            @include flex-direction(row);
        }
        @include respond-to(wide-laptop) {
            padding-left: 100px;
            padding-right: 100px; 
            @include flex-direction(row);
        }
    }
    &_heading{
        margin-top: 80px;
        font-size: 30px;  
        text-align: center; 
        font-family: $main-font;
        width: 100%;
        @include hyphens(auto);
        @include animation-name(slideDown);
        @include animation-duration(3s);
        @include animation-timing-function(ease-in-out);
        @keyframes slideDown {
            0% {
                transform: translateY(-100%);
            }
            50%{
                transform: translateY(8%);
            }
            65%{
                transform: translateY(-4%);
            }
            80%{
                transform: translateY(4%);
            }
            95%{
                transform: translateY(-2%);
            }           
            100% {
                transform: translateY(0%);
            }       
        }
         
        @-webkit-keyframes slideDown {
            0% {
                -webkit-transform: translateY(-100%);
            }
            50%{
                -webkit-transform: translateY(8%);
            }
            65%{
                -webkit-transform: translateY(-4%);
            }
            80%{
                -webkit-transform: translateY(4%);
            }
            95%{
                -webkit-transform: translateY(-2%);
            }           
            100% {
                -webkit-transform: translateY(0%);
            }   
        }
        
        @-moz-keyframes slideDown {
            0% {
                -moz-transform: translateY(-100%);
            }
            50%{
                -moz-transform: translateY(8%);
            }
            65%{
                -moz-transform: translateY(-4%);
            }
            80%{
                -moz-transform: translateY(4%);
            }
            95%{
                -moz-transform: translateY(-2%);
            }           
            100% {
                -moz-transform: translateY(0%);
            }   
        }
        
        @include respond-to(wide-mobile) {   
            font-size: 30px;   
        }
        @include respond-to(tablets) {
            font-size: 40px; 
            margin-top: 100px;
        }
        @include respond-to(laptop) {
            font-size: 40px; 
            margin-top: 80px;
            text-align: start;
        }
        @include respond-to(wide-laptop) {
            font-size: 80px;
            margin-top: 200px;
            text-align: start;
        } 
    }
    &_subheading{
        font-family: $light-font;
        text-align: center;    
        font-size: 16px;
        width: auto;
        padding-bottom: 50px;
        @include hyphens(auto);
        @include animation-name(slideDown);
        @include animation-duration(3s);
        @include animation-timing-function(ease-in-out);
        
        @include respond-to(wide-mobile) {      
            font-size: 18px;
        }
        @include respond-to(tablets) {
            font-size: 20px;
            width: 100%;  
            padding-bottom: 100px;
        }
        @include respond-to(laptop) {
            width: 100%; 
            font-size: $fontSize;
            text-align: start;
        }
        @include respond-to(wide-laptop) {
            width: 700px; 
            font-size: $fontSize;
            text-align: start;
        }
    }
    &_form-block{
        background-image: url('../img/bg1.png');
        width: 100%;
        overflow-x: hidden;
    }
    &_contact-form{
        display: -webkit-flex; 
        display: -ms-flexbox; 
        display: -moz-flex;
        display: flex;
        margin-top: 70px;
        @include flex-direction(column);
        @include respond-to(wide-mobile) {
            margin-top: 80px;
        }
        @include respond-to(tablets) {
            margin-top: 60px;
            @include align-items(center)
        }
        @include respond-to(laptop) {
            margin-top: 80px;
        }
        @include respond-to(wide-laptop) {
            margin-top: 170px;
        }

    }
    &_contact-input{
        width: 300px;
        height: 40px;
        margin: 20px 40px;
        text-transform: capitalize;
        color: $font-color;
        padding: 20px;
        font-family: $light-font;
        outline: none;
        @include respond-to(wide-mobile) {
            margin: 20px 50px;      
        } 
        @include respond-to(laptop) {
            width: 350px;
            height: 50px;
            margin: 20px 50px;
        }
        @include respond-to(wide-laptop) {
            width: 400px;
            height: 60px;
            margin: 30px 100px;
        }
    }
    label{
        color: $light-color;
        margin: 5px 75px;
        font-size: 18px;
        font-family: $main-font;
        text-transform: capitalize;
        
        @include respond-to(tablets) {
            margin: 5px 75px;
            font-size: 18px;      
        } 
        @include respond-to(laptop) {
            margin: 5px 75px;
            font-size: 18px;      
        } 
        @include respond-to(wide-laptop) {
            margin: 10px 100px;
            font-size: $fontSize;     
        } 
        @include animation-name(slideLeft);
        @include animation-duration(3s);
        @include animation-timing-function(ease-in-out);
    }
    &_contact-btn{
        width: 340px;
        height: 60px;
        color: $light-color;
        background-color: $theme-color;
        font-family: $main-font;
        text-transform: capitalize;
        text-align: center;
        cursor: pointer;
        padding-left: 0;
        font-size: $fontSize;
        border: none;
        margin: 30px 100px;
        @include respond-to(mobile) {
            width: 290px;
            height: 50px;
            font-size: 20px;
            margin: 30px 40px;
        }
        @include respond-to(wide-mobile) {
            width: 290px;
            height: 50px;
            font-size: 20px;
            margin: 30px 55px;
        }
        @include respond-to(laptop) {
            margin: 20px 50px;
            height: 50px;
            font-size: 20px;
        }
    }
    &-overlay{
        background-color: rgba(23, 44, 66, 0.702);
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 127;   
        display: none;
}
&_form-popup form {
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    @include align-items(center)
}
&_form-popup{
    display: none;
    position: relative;
    z-index: 300; 
    width: 250px;
    height: 350px;
    font-size: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    @include transform(translate(-50%, -50%));
    top: 50%;
    background-color: $light-color;
   
    
    @include respond-to(tablets) {
        width: 300px;
        height: 400px;
    }
    @include respond-to(laptop) {
        width: 550px;
        height: 500px;
    }
    @include respond-to(wide-laptop) {
        width: 630px;
        height: 575px;
    }
    &-heading{
        text-align: center;
        font-family: $main-font;
        text-transform: capitalize;
        padding-top: 10%;
        font-size: 18px;
       
        @include respond-to(tablets) {
            font-size: 20px;
        }
        @include respond-to(laptop) {
            font-size: $fontSize;
        }
        @include respond-to(wide-laptop) {
            font-size: $fontSize;
        }
    }
    &-input{
        @extend .main_contact-input;
        @include respond-to(mobile) {
            width: 200px;
            margin: 10px;
        }
        @include respond-to(wide-mobile) {
            width: 220px;
            margin: 10px;
        }
        @include respond-to(tablets) {
            width: 270px;
            height: 50px;
            margin: 15px 15px;
        }
       
    };
    &-btn{
        @extend .main_contact-btn;
        @include respond-to(mobile) {
            width: 180px;
            height: 40px;
            font-size: 15px;
            margin: 10px;
        }
        @include respond-to(wide-mobile) {
            width: 200px;
            height: 45px;
            font-size: 17px;
            margin: 10px;
        }
        @include respond-to(tablets) {
            width: 240px;
            height: 50px;;
            font-size: 18px;
            margin: 13px
        }
    };
}
.close-btn{
    position: fixed;
    top: 20px;
    right: 20px; 
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    
    @include respond-to(laptop) {
        top: 40px;
        right: 40px; 
    }
    @include respond-to(wide-laptop) {
        top: 40px;
        right: 40px; 
    }
}
.social-networks{
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: -moz-flex;
    display: flex;
    @include justify-content(center);
    margin: 10px;
    &_item{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 10px;;
        background-color: $dark-color;
    }
    &_item img{
        padding: 10px 13px;
    }
}
&_advantages-heading{
    text-transform: capitalize;
    font-family: $main-font;
    margin-top: 40px;  
    font-size: 40px;
    text-align: center;
    
    @include respond-to(wide-mobile) {
        margin-top: 80px;  
   }
    @include respond-to(tablets) {
        margin-top: 80px; 
        font-size: 50px; 
   }
   @include respond-to(laptop) {
        margin-top: 80px; 
        font-size: 50px; 
   }  
   @include respond-to(wide-laptop) {
        margin-top: 160px; 
        font-size: 50px; 
    }
}
&_advantages-container{
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: -moz-flex;  
    display: flex;
    @include align-items(center);
    @include flex-direction(column);
    padding-bottom: 0;
    
    
    @include respond-to(laptop) {
        @include flex-direction(row); 
        padding-bottom: 50px; 
   }
    @include respond-to(wide-laptop) {
        @include flex-direction(row); 
        padding-bottom: 50px; 
    } 
}
.image-container img{
    position: relative;
    top: 50px;
    left: 80px;
    width: 50%;
    @include respond-to(wide-mobile) {
        left: 85px;
        width: 60%;   
    }
    @include respond-to(tablets) {
        top: 65px;
        left: auto;
        width: auto;  
        }
    @include respond-to(laptop) {
        top: 40px;
        left: 100px;
        width: 100%; 
        } 
    @include respond-to(wide-laptop) {
        top: 100px;
        left: 150px;
        width: auto;  
    } 
}
.information-container{
    margin-left: 200px;
    @include respond-to(mobile) {
        margin: 100px 30px 0 60px;  
     }
    @include respond-to(wide-mobile) {
        margin: 100px 30px 0 60px;  
     }
    @include respond-to(tablets) {
       margin: 100px 100px 0 100px;  
    }
    &-item {
        display: -webkit-flex; 
        display: -ms-flexbox; 
        display: -moz-flex;  
        display: flex;
    }
    &-item h4{
      padding-left: 10px;
      font-size: 30px;
      font-family: $main-font;
      text-transform: capitalize;
      margin-top: 30px;
      @include respond-to(mobile) {
        font-size: 25px;
     }
    }
    &-item img{
        width: 15%;
        height: 15%;
        margin-top: 30px;
        @include respond-to(tablets) {
            width: 10%; 
            height: 10%;
         }
    }
    &-block {
        width: 420px;
        @include respond-to(mobile) {
            width: 100%; 
         }
        @include respond-to(wide-mobile) {
            width: 100%; 
         }
        @include respond-to(tablets) {
            width: 100%; 
         }
    }
    &-block p {
        @include hyphens(auto);
        padding-left: 70px;
        font-size: 16px;
        @include respond-to(mobile) {
            padding-left: 55px;
        }
        @include respond-to(wide-mobile) {
            max-width: 400px;
            padding: 0;
        }
        @include respond-to(laptop) {
            padding: 0 70px  
       }
    }
    &-block hr {
        margin-left: 70px;
        border: 8px solid $theme-color;
        width: 90px;
        margin-top: -25px;
        @include respond-to(mobile) {
            margin-left: 55px;
        }
       
    }
}
.price-section{
    margin-top: 0;

    @include respond-to(laptop) {
        margin-top: 70px;
     }
    @include respond-to(wide-laptop) {
        margin-top: 140px;
     }
    &_heading{
        font-family: $main-font;
        text-transform: capitalize;
        font-size: 50px;
        text-align: center;
        @include respond-to(mobile) {
           font-size: 45px;
           margin-bottom: 0;
         }
    }
}
.price-cards{
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: -moz-flex;  
    display: flex;
    @include justify-content(center);
    @include flex-direction(column);
    @include respond-to(tablets) {
        @include flex-direction(row)
     }
    @include respond-to(laptop) {
        @include flex-direction(row)
     }
     @include respond-to(wide-laptop) {
        @include flex-direction(row)
     }
    &_block{
        width: 450px;
        margin: 0 20px;
        @include box-shadow(0 0 20px rgba(0,0,0,0.2));
        @include respond-to(mobile) {
            margin: 10%;
            max-width: 80%;
         }
        @include respond-to(wide-mobile) {
            margin: 10%;
            max-width: 80%;
         }
        &_heading{
            text-align: center;
            text-transform: capitalize;
            font-family: $main-font;
            color: $light-color;
            height: 85px;
            padding: 25px 0;
            font-size: 30px;
            margin-top: 0;
            background-color: $dark-color;
        }
        &_menu {
            padding: 0!important;
        }
        &_menu li{
            display: -webkit-flex; 
            display: -ms-flexbox; 
            display: -moz-flex; 
            display: flex;
            list-style-type: none;
        }
        &_menu img{
           padding: 25px;
           @include respond-to(mobile) {
            padding: 0;
            width: 25px;
            margin: auto 10px;
            height: 25px;
         }
        }
        &_menu p{
            @include hyphens(auto);
            font-size: 16px;
            font-family: $light-font;
            padding-right: 20px;
            @include respond-to(wide-mobile) {
                font-size: 14px;
             }
         }
         &-btn{
             background-color: $theme-color;
             outline: none;
             cursor: pointer;
             text-transform: capitalize;
             font-family: $main-font;
             color: $light-color;
             border: none;
             width: 200px;
             height: 50px;
             font-size: 18px;
             bottom: -45px;
             position: relative;
             left: 50%;
             margin-right: -50%;
             @include transform(translate(-50%, -50%));
             
             @include respond-to(wide-mobile) {
                width: 250px;
                height: 55px;
                font-size: 20px;
                bottom: -50px;
             }
             @include respond-to(tablets) {
                width: 280px;
                bottom: -65px;
                height: 70px;
                font-size: $fontSize;
             }
             @include respond-to(laptop) {
                width: 320px;
                height: 70px;
                font-size: $fontSize;
                bottom: -65px;
             }
             @include respond-to(wide-laptop) {
                width: 320px;
                height: 70px;
                font-size: $fontSize;
                bottom: -65px;
             }
         }
         &-content{
             text-align: center;
             font-size: 18px;
             font-family: $main-font;
             margin: 80px;
             @include respond-to(mobile) {
                font-size: 15px;
             }
             @include respond-to(tablets) {
                font-size: 15px;
             }
         }
    }
    .wrong-price{
        text-align: center;
        font-family: $light-font;
        font-size: 30px;
        text-decoration: line-through;
        margin-top: 30px;
        margin-bottom: 10px;
        @include respond-to(mobile) {
            font-size: $fontSize;
         }
        @include respond-to(wide-mobile) {
            font-size: $fontSize;
         }
    }
    .sale-price{
        text-align: center;
        font-family: $main-font;
        font-size: 50px;
        margin: 0;
        @include respond-to(mobile) {
            font-size: 40px;
         }
        @include respond-to(wide-mobile) {
            font-size: 40px;
         }
    }
}
.slider-heading{
    text-transform: capitalize;
    font-size: 50px;
    font-family: $main-font;
    margin-top: 60px;
    text-align: center;  
}
.swiper-container {
    width: 100%;
    height: 110%;
    margin-left: auto;
    margin-right: auto;
    
    @include respond-to(wide-mobile) {
        height: 150%;
   }
    @include respond-to(laptop) {
        height: 100%; 
    }
    @include respond-to(wide-laptop) {
        height: 100%; 
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-image: url('../img/slider-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    @include align-items(center);
    @include justify-content(center);
    @include box-shadow(0 0 20px rgba(0,0,0,0.2));
    @include respond-to(mobile) {
        width: 50%; 
    } 
    @include respond-to(wide-mobile) {
        width: 50%;
   }
   @include respond-to(tablets) {
    background-size: auto;
    height: 100%;
 }
    
  }
  .swiper-button-next{
      color: $font-color;
      outline: none;
      cursor: pointer;
  }
  .swiper-button-prev{
    color: $font-color;
    outline: none;
    cursor: pointer;
}
}
.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 30px 25px;
    @include justify-content(space-between);
    background-color: $dark-color;
    height: 90px;
    margin-top: 50px;;
    
    @include respond-to(wide-mobile) {
        padding: 35px 50px;
        height: 105px;
        margin-top: 80px;
     }
    @include respond-to(tablets) {
        padding: 20px 30px;
        height: 80px;
        margin-top: 50px;
     }
    @include respond-to(laptop) {
        padding: 20px 100px;
        margin-top: 100px;  
        height: 90px;
   }
    @include respond-to(wide-laptop) {
        padding: 40px 250px;
        margin-top: 150px;  
        height: 130px;
}
    &_btn{
        display: flex;
        @include align-items(center);
        font-family: $light-font;
        font-size: 18px;
        color: $light-color;
        text-transform: capitalize;
        @include respond-to(tablets) {
            font-size: $fontSize;
         }
        @include respond-to(laptop) {
            font-size: $fontSize;
         }
         @include respond-to(wide-laptop) {
            font-size: $fontSize;
         }
        
    }
    &_btn a{
        cursor: pointer;
    }
    &_btn img{
        padding: 0 10px;
        cursor: pointer;
    }
}
.close{
    display: none!important;
}
.open{
    display: block!important;
}
#animatedImg {
    cursor: pointer;
}